@page
@model Lab1_454.Pages.IndexModel



@{
    string username = HttpContext.Session.GetString("Username");
    bool isLoggedIn = !string.IsNullOrEmpty(username);
}

@if (isLoggedIn)
{
    <p class="text-success">You are signed in, @username</p>
}
else
{
    <form asp-page="Index">
        <input asp-for="Username" class="form-control" placeholder="Enter Username" />
        <br />
        <label>Enter Password:</label>
        <input asp-for="Password" class="form-control" type="password" />
        <br />
        <input type="submit" class="btn btn-primary" />
    </form>
    <br />
    {
        if (ViewData["LoginMessage"] != null)
        {
            <p class="text-danger">@ViewData["LoginMessage"]</p>
        }
    }
}