@page
@model IndexModel
@{
    ViewData["Title"] = "Database Home page";
}

<div class="text-center">
    <a asp-page="/Users/Index">Manage Users</a>
    <a asp-page="/Conferences/Index">Manage Conferences</a>
    <a asp-page="/Meetings/Index">Manage Meetings</a>
</div>
