@page
@using Lab1_454.Pages.DB;
@using Lab1_454.Pages.Data_Classes;
@model Lab1_454.Pages.Users.UsersModel
@{
    string username = HttpContext.Session.GetString("Username");
    User user = DBClass.GetUserByUsername(username);
    List<Meeting> userMeetings = DBClass.GetMeetingsForUser(user.UserID);
    List<Conference> userConferences = DBClass.GetConferencesForUser(user.UserID);
}

@if (user != null)
{
    <h2>Welcome, @user.FirstName @user.LastName!</h2>

    <h3>Conferences:</h3>
    <ul>
        @foreach (var conference in userConferences)
        {
            <li>@conference.EventName</li>
        }
    </ul>

    <h3>Meetings:</h3>
    <ul>
        @foreach (var meeting in userMeetings)
        {
            <li>@meeting.MeetingName</li>
        }
    </ul>
}
else
{
    <p class="text-danger">User not found</p>
}

<a asp-page="./EditUserInformation" class="btn btn-primary">Edit User Information</a>